@using System.Runtime.InteropServices
@using Microsoft.CodeAnalysis
@model CheckBoxListItem


@{
    // ViewBag.Title = "ChooseSessions";
    Layout = "_Layout";
}

<div class="d-flex justify-content-center">
    <h1>@ViewData["Title"]</h1>
</div>

<br/>

<div class="d-flex justify-content-center">
    <h1> Select Sessions To Open for @Model.booking.Date.ToString("dd/MM/yyyy")</h1>
</div>
<br/>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Time Of Session</th>
      <th scope="col">Open</th>
    </tr>
  </thead>
  <tbody>
  @{
      
      @using (Html.BeginForm("Create", "Booking", FormMethod.Post))
      {
         
              var counter = 0;
              foreach (var potentialBookings in Model.booking.PotentialBookingsList)
              {
                  
                  <tr>
                      <th scope="row">@counter</th>
                      <td>@potentialBookings.TimeOfSession</td>

                      @Html.Hidden("dateOfSession", Model.booking.Date)

                      <td><input name="checkbox" type="checkbox" value="@potentialBookings.TimeOfSession" /><br /></td>
                      
                  </tr>

                  counter = counter + 1;
              
          }
          <td> <input type="submit" value="Open Time Slots" class="btn btn-secondary d-flex" onclick="return confirm('Are you sure you want to open these time slots?')" /> </td>

      }
  }
    
    
  </tbody>
</table>



