@model IList<bookingDto>

@{
    Layout = "_Layout";
}

<div class="d-flex justify-content-center">
    <h1> Sessions for @User.Identity.Name</h1>
</div>
<br/>

<form asp-action="ViewBookedSessions" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="ViewBookedSessions">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table">
  <thead>
  <tr>
      <th scope="col">#</th>
      <th scope="col">
          <a asp-action="ViewBookedSessions" asp-route-sortOrder="@ViewData["DateSortParm"]">Date Of Session</a>
          
      </th>
      <th scope="col">Time Of Session</th>
      <th scope="col">Edit</th>
  </tr>
  </thead>
  <tbody>


  @{
      var counter = 1;
      foreach (var booking in Model)
    {
        
        <tr>
            <th scope="row">@counter</th>
            <td>@booking.DateOfSession.ToString("dd/MM/yyyy")</td>
            <td>@booking.DateOfSession.TimeOfDay</td>
            <td>
                @Html.ActionLink("Edit", "Delete", "Booking", new { Date=booking.DateOfSession }) |
                @Html.ActionLink("Details", "Delete", "Booking",new { Date=booking.DateOfSession }) |
                @Html.ActionLink("Delete", "Delete",  "Booking",new { id=booking.DateOfSession })

            </td>

        </tr>
        counter = counter + 1;
    }
}

   </tbody>
  </table>

    

